<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title> Amazom Reviews Ratings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap"
            rel="stylesheet">
    </head>

    <body>

        <!-- begin nav section -->

        <div class="wrapper">
            <div class="topnav">
                <div>
                    <a class="ml-text" href="/"><b>Machine Learning</b></a>
                </div>
            </div>

            <!-- end nav section -->
            <div class="jumbotron text-center"></div>
            <div class="container pt-5">
                <div class="row">
                    <div class="head-text col-md-12">
                        <h1>Review Ratings Predictor</h1>
                        <h3>
                            We built a tool that predicts review ratings using a machine learning model built 
                            from analyzing Amazon Fine Food reviews.  The reviewws are rated on a scale of 1-5, 
                            where 1 means the worst review and 5 means the best review.  As of the most recent 
                            publication we only recommend entering food reviews.
                        </h3>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div id="content">{% block content %}{% endblock %}</div>
            </div>

            <footer class="footer">
                <div class="bottom"><b>Oregon Data 2021 - Final Project</b></div>
            </footer>
        </div>
    </body>

</html>
