{% extends "layout.html" %}

{% block content %}

<!-- Starts image section -->
<div class="row justify-content-md-center mb-4">
    <h2 class='text-primary'>Predict Iris Flower Species</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="{{url_for('static', filename='images/iris_setosa.jpg')}}"
                class="img-thumbnail" />
            <div class="caption">
                <p><strong>Iris Setosa</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="{{url_for('static', filename='images/iris_versicolor.jpg')}}"
                class="img-thumbnail" />
            <div class="caption">
                <p><strong>Iris Versicolor</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="{{url_for('static', filename='images/iris_virginica.jpg')}}"
                class="img-thumbnail" />
            <div class="caption">
                <p><strong>Iris Virginica</strong></p>
            </div>
        </div>
    </div>
</div>
<!-- Ends image section -->

<!-- Starts form section -->
<div class="form-container ">
    <form class="form-horizontal" action="/predict/" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="sepal_length">Sepal length (cm):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="sepal_length" name="sepal_length">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="sepal_width">Sepal width (cm):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="sepal_width" name="sepal_width">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="petal_length">Petal length (cm):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="petal_length" name="petal_length">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="petal_width">Petal width (cm):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="petal_width" name="petal_width">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="">&nbsp;</label>
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Predict</button>
            </div>
        </div>
    </form>
    <!-- Ends form section -->


</div>


{% endblock %}